@font-face {
  font-family: 'iconfont';  /* project id 415377 */
  src: url('https://at.alicdn.com/t/font_415377_thv7uss015gvte29.eot');
  src: url('https://at.alicdn.com/t/font_415377_thv7uss015gvte29.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_415377_thv7uss015gvte29.woff') format('woff'),
  url('https://at.alicdn.com/t/font_415377_thv7uss015gvte29.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_415377_thv7uss015gvte29.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 头部开始 */
header{
	width: 100%;
	height: 46px;
	background-color: #e4e4e4;
	border-top: 1px solid #CFCFCF;
}
.Rtop{
	width: 458px;
	height: 100%;
	background-color:#d78f45;
	float: right; 
	padding-top: 10px;
	padding-bottom: 12px;
}
.Rtop span{
	display: block;
	width: 96px;
	/* height:46px; */
	border-right: 1px solid #E3B07D;
	float: left;
}
.Rtop i{
	font-size: 18px;
	color: #fff;
	line-height: 23px;
	margin-left: 10px;
	float: left;
}
.Rtop h6{
	font-size: 12px;
	color: #fff;
    line-height: 23px;
	margin-left: 7px;
	float: left;
}
.Rtop i:nth-child(2){
    font-size: 3px;
}
.Ctop{
	width: 213px;
	height: 100%;
	border-left: 1px solid #CFCFCF;
	float: right;
	padding-top: 10px;
	padding-bottom: 12px;
	padding-right: 21px;

}
input{ 
	width: 168px;
	height: 100%;
	background-color: #e4e4e4;
	padding-left: 14px;

}
.Ctop i{
	font-size: 18px;
	color: #bbb;
	line-height: 23px;
}
/* 头部结束 */

/* nav开始 */
nav{
   width: 100%;
   height: 120px;
   background-color: #fff;
   padding: 23px 135px;
}
.neikuan{
   width: 1080px;
   height: 74px;
}
.neikuan .imgbox{
   width: 346px;
   float: left;
}
.neikuan .wenzi{
   width: 660px;
   height: 74px;
   float: left;
   margin-left: 74px;
}
.wenzi li{
	width: 16.6667%;
	height: 74px;
	float: left;
}

.wenzi h5{
	font-size: 16px;
	line-height: 110px;
	margin-top: -13px;
	text-align: center;
	font-weight: 700;
	margin-bottom: -50px;
}
.gunayu h5{
	color: #ab8c6a;
}
.wenzi a:hover{
	color:#ab8c6a ;
}
.wenzi i{
	color: #ab8c6a;
	font-size: 8px;
	margin-left: 49px;
}
/* nav结束 */
/* 关于开始 */
#about{
    width: 100%;
    height: 172px;
    background-color: #fff;
}
.aboutCen{
	width: 1080px;
	height: 100%;
	margin: 0 auto;
    background: url('../img/gybg.png')
    no-repeat 160px 60px;

}
.aboutgy{
	width: 186px;
	height: 95px;
	background-color: #000;
	margin-top: 30px;
	float: left;
}
.aboutgyr{
	width: 288px;
	height: 36px;
	float: left;
	margin-top: 70px;
	margin-left: 25px;
}
.aboutRight{
	width: 180px;
	height: 149px;
	background-color: yellow;
	margin-top: 23px;
	margin-right: 20px;
	float: right;
}
.aboutRight li{
	width: 60px;
	height: 100%;
	background-color: #fff;
	float: left;
	border-right: 1px solid #eaeaea;
}
.aboutR1{
	position: relative;

}
.aboutR1 span{
	width: 20px;
	height: 139px;
	background:url('../img/quan.png') no-repeat
	-44px 0;
    position: absolute;
    left: 30px;
    top: 10px;
    right: 10px;
    padding-top: 25px;
}
.aboutR1 h6{
	font-size: 14px;
	color: #666;
}
.aboutR2{
	position: relative;
	background-color: #fff;
}
.aboutR2 img{
	display: none;
}
.aboutR2 span{
	width: 20px;
	height: 139px;
	background:url('../img/quan.png') no-repeat;
	position: absolute;
	left: 30px;
	top: 10px;
	right: 10px;
	padding-top: 25px;
}

.aboutR2 h6{
	font-size: 14px;
	color: #666;
}
.aboutR2:hover  img{
	display: block;
}
.aboutR2:hover span{
	transform: translateY(10px);
}
/* 关于结束 */
/* 连线开始 */
#lianxian{
   width: 100%;
   height: 556px;
   background:url('../img/lianxian.png') 
   no-repeat -200px 0;
   padding-top: 50px;
}
.lianxianCen{
	width: 1080px;
	height: 506px;
	/* background-color: red; */
	margin: 0 auto;
}
.table{
	width: 100%;
	height: 354px;
	/* background-color: green; */
	padding-top: 25px;
}
.tLeft{
	width: 80px;
	height: 303px;
	background-color: red;	
	float: left;
}
.tLeft li{
	width: 80px;
	height: 101px;
	background-color: #fafafa;
	padding-top: 33px;
}
.tLeft li:nth-child(1){
    background-color:#f0f0f0; 

}
.tLeft-imgbox{
	width: 38px;
	/* background-color: yellow; */
	height: 34px;
	margin:0 auto;
}
h2{
	width: 990px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.9);
	float:left;
}
table{
	width: 990px;
	height: 234px;
	background-color: rgba(255, 255, 255, 0.9);
	float: left;
}
.one{
	width: 990px;
	height: 72px;
}
#name{
	width: 250px;
    background: #fff;
	height: 43px;
	padding-left: 28px;
	padding-bottom:28px;
	border-bottom: 1px solid #dddbdc;
	font-size: 14px;
	color:#858585;
	line-height: 43px;
	padding-top: 20px;
	float:left;
}

.one td{
	width: 328px;
	height: 72px;
	padding-left:40px;
}

.two td{
	width: 628px;
	height: 164px;
	background: #fff;
	padding-left: 28px;
	padding-bottom: 28px;
	padding-top: 28px;
}
.two td:last-child{
	height: 230px;
	padding-left:30px;
}
#wenb{
	padding:10px;
	width: 610px;
	height: 100px;
	border-bottom: 1px solid #dddbdc;
	resize:none;
}
#wenb:focus{
	outline: none;
}

#youxiang{
	width: 250px;
	height: 49px;
	background: #fff;
	border-bottom: 1px solid #dddbdc;
	margin-top:-76px;
	float:left;
	margin-left: 10px;
	padding-left: 28px;
}
#youx{
	width: 185px;
	height: 49px;
	background: #fff;
	border-bottom: 1px solid #dddbdc;
	margin-top:-22px;
	float:left;
	margin-left:10px;
	padding-left: 28px;
}
#submit{
	width: 270px;
	height: 43px;
	float:right;
	margin-right:35px;
	margin-top: 30px;
	background: #d68f44;
	color:#fff;
}
/*.three td{*/
	/*width: 298px;*/
	/*height: 43px;*/
	/*float:right;*/
	/*margin-left: 10px;*/
/*}*/
/*.three td input{*/
	/*width: 298px;*/
	/*height: 43px;*/
	/*float:right;*/
/*}*/
/* 连线结束 */
/* 底部栏开始 */
.bottom{
	width: 100%;
	height: 73px;
	background-color: #d68f44;
}
.nei-bottom{
	width: 1080px;
	height: 100%;
	/* background-color: green; */
	margin: 0 auto;

}
.nei-bottom a{
	font-size: 12px;
	color: #fff;
	float: left;
	margin-right: 10px;
	line-height: 73px;
}
.nei-bottom span{
	font-size: 12px;
	color: #fff;
	margin-right: 10px;
	float: left;
	line-height: 73px;
}
.rightb{
	float: right;
}
.rightb h6{
	font-size: 12px;
	color: #fff;
	float: left;
	margin-right: 10px;
	line-height: 73px;
}
/* 底部栏结束 */


/*固定定位开始*/
.guding{
	width: 42px;
	height: 123px;
	position: fixed;
	right:15px;
	top:calc(50% - 61px);
	z-index:666;
}
.ewm{
	width: 42px;
	height: 40px;
	background: #b1b1b1 url("../img/ewm.png") no-repeat;
	background-position:center;
	border-bottom:1px solid #fff;
	position: relative;
}
.wxm{
	width: 100px;
	height: 100px;
	background: red;
	position: absolute;
	left:-102px;
	top:0;
	display: none;
}
.ewm:hover{
	background-color: #ff8e1b;
}
.ewm:hover .wxm{
	display: block;
}
.lianjie {
	width: 42px;
	height: 40px;
	background: #b1b1b1 url("../img/lianjie.png") no-repeat;
	background-position: center;
	border-bottom:1px solid #fff;
}
.lianjie:hover{
	background-color: #ff8e1b;
}
.totop{
	width: 42px;
	height: 40px;
	background: #3d4456 url("../img/totop.png") no-repeat;
	background-position: center;
}
/*固定定位结束*/